*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1d1e;
    cursor: default;
}

.container {
    margin: 20px;
    padding: 10px;
    font-family: 'work sans';
    font-size: 25px;
    color: #ececec;
}

/*******BODY CONTENT*******/

.content {
    padding: 30px 0px;
    line-height: 1.7;
}

.p2 {
    padding: 30px 0px;
}

.p3 {
    font-size: 22px;
}

.town {
    border-bottom: 2px solid #444044;
}

.town:hover:after{
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url("../images/bridge3.jpg") no-repeat center;
	background-size: cover;
	display: block;
}

.message-click, a:hover, .footer a:hover {
    color: #e84919;
    border-bottom: 1px solid #e84919;
    cursor: pointer;
}

a, .message {
    text-decoration: none;
    color: #ce1616;
    border-bottom: 1px solid #ce1616;
    cursor: pointer;
}

/*******BODY CONTENT*******/

.footer {
    font-size: 17px;
}

.footer-remove {
    position: relative;
    top: 80px;
    font-size: 17px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.footer a {
    border: none;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}